.member-card{
  display: flex;
  flex-direction: row;
 
  justify-content: space-evenly;
background-color: gray;

}

.container-time{
  text-align: center;

}
h2{
  background-color: #6e261a;
  padding: 5px;

}