.container{
    text-align: center;
    display: flex;
    justify-content: center;
}

.calculator-container{
    background-color: rgb(26, 123, 209);
   /* height: 250px; */
   text-align: center;
    width: 200px;
    padding: 6px;
    border: 2px solid black;
    
}
.display{
    margin: 10px;
 font-size: 20px;
 
    width: 175px;
}
.button-container{
    display: flex;
    margin: 1px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.btn{
    width: 45px;
    height: 45px;
    margin: 3px;
  font-weight: bold;
  font-size: 20px;
}